<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>Meus pokémons</title>
        <link rel="stylesheet" href="../styles/index.css">
    </head>
    <body>
        <header>
            <h1 class="titulo">PokeAPI</h1>
            <div>
                <img 
                    src="https://avatars.githubusercontent.com/u/70925825?s=460&u=ea4d2b09042a4442c2a08ea9d8631c3a8a57cecd&v=4" 
                    alt=""
                />
                <span>Minha conta</span>
            </div>
        </header>
        <main>
            <div>
                <input type="text" name="" placeholder="Procure seu Pokémon"/>
            </div>
            <div>
                <div>
                    <strong>
                            #1 Pineco
                    </strong>
                        <img src="../images/pineco.png" alt=""/>
                </div>
                    <div>
                    <strong>
                            #2 Pikachu
                    </strong>
                        <img src="../images/pikachu.png" alt="Pikachu"/>
                </div>
            </div>
        </main>
        <footer>
            Desenvolvido por Natalia Martineli
        </footer>
    </body>
</html>